img {
  height: 40px;
  width: 38.96px;
  padding: 10px;
}
div.Sign {
  font-family: Arial, Helvetica, sans-serif;
  color: grey;
}
form {
  max-width: fit-content;
  width: fit-content;
  border: 1px solid;
  background-color: rgb(232, 239, 241);
}
body {
  background-color: rgba(4, 8, 19, 0.1);
  font-family: sans-serif;
}
div.top {
  width: 327px;
  height: 50px;
  size: 16px;
  line-height: 25px;
}
h3 {
  width: 327px;
  height: 30px;
  size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 29px;
  text-align: left;
  margin-left: 12px;
}
.top {
  width: 387px;
  height: 50px;
  size: 10px;
  margin-left: 12px;
  line-height: 25px;
  color: gray;
}

label,
input {
  width: 295px;
  height: 72px;
}
label {
  font-weight: bold;
  font-size: small;
}

button {
  width: 295px;
  height: 48px;
  left: 335px;
  background-color: rgba(46, 192, 182, 1);
  border-color: #fff;
}

#card {
  width: 327px;
  height: 820px;
  padding: 25px;
  background-color: white;
  margin-left: 12px;
  margin-right: 12px;
}
#card div {
  width: 295px;
  height: 72px;
  margin: 20px 0;
}
input {
  margin-top: 7px;
  height: 40px;
  border: 0.5px solid rgb(231, 226, 226);
  border-radius: 3px;
  outline: none;
}
#first {
  border: 1px rgb(16, 150, 16) solid;
  border-radius: 3px;
}
::placeholder {
  padding-left: 10px;
}
footer {
  width: 365px;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  font-size: small;
}
a {
  color: rgba(46, 192, 182, 1);
}
